<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Solar Lens needs your location to display local sunrise and sunset times.</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>de</string>
		<string>fr</string>
		<string>it</string>
		<string>Danish</string>
	</array>
	<key>NSUserActivityTypes</key>
	<array>
		<string>GetSolarProductionIntent</string>
		<string>IntentIntent</string>
	</array>
</dict>
</plist>
