<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Solar Lens needs your location to display local sunrise and sunset times.</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>de</string>
		<string>fr</string>
		<string>it</string>
		<string>Danish</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.marcduerst.SolarManagerWatch.AutomationRunner</string>
		<string>com.marcduerst.SolarManagerWatch.NotificationProcessing</string>
	</array>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.marcduerst.SolarManagerWatch</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>solarlens</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
