{
    "basePath": "/",
    "info": {
        "title": "Solar Manager external API ",
        "version": "1.57.2",
        "description": "This is a Solar Manager external communication service"
    },
    "host": "cloud.solar-manager.ch",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "securityDefinitions": {
        "basic": {
            "type": "basic"
        },
        "BearerAuth": {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header",
            "description": "Type \"Bearer\" followed by a space and JWT token."
        }
    },
    "security": [
        {
            "basic": []
        },
        {
            "BearerAuth": []
        }
    ],
    "tags": [
        {
            "name": "Auth",
            "description": "Authentication related endpoints"
        },
        {
            "name": "Users",
            "description": "End-user(s) related info endpoints"
        },
        {
            "name": "Users / Data",
            "description": "End-user(s) related data endpoints"
        },
        {
            "name": "Devices",
            "description": "Device(s) related endpoints.\n\nThe sensorId and deviceId are identical. All endpoints will eventually be replaced with /v3 endpoints and will use deviceId instead of sensorId."
        }
    ],
    "swagger": "2.0",
    "paths": {
        "/v1/overview": {
            "get": {
                "operationId": "getV1Overview",
                "description": "Get overview data\n\nThe response will contain the total number of plants, support contracts, production data, status of installations, monitoring status, autarchy degree, consumption data and total energy for car chargers, water heaters, heat pumps and V2X chargers.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users / Data"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/OverviewSchema"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/v1/subscription": {
            "get": {
                "operationId": "getV1Subscription",
                "description": "Get information about subscription(s)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/SubscriptionArraySchema"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/v1/users": {
            "get": {
                "operationId": "getV1Users",
                "description": "Get information about user(s)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/UserArraySchema"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/v2/customers": {
            "get": {
                "operationId": "getV2Customers",
                "description": "Get information about customer(s) as CSV",
                "consumes": [
                    "text/csv"
                ],
                "produces": [
                    "text/csv"
                ],
                "tags": [
                    "Users"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "type": "string",
                            "example": "user_id,first_name,last_name,email,zip,language,status,installation_finished,sm_id,gateway_id,registration_date,license,subscription_details,device_count,car_count,end_date,energy_assistant_enable,kWp,hardware_version,firmware_version,app_version,plant,payment_method,street,city,country,note,installer,oem,tariffType,provider"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/v1/control/tariff": {
            "get": {
                "operationId": "getV1ControlTariff",
                "description": "Get sensor tariffs\n\nThe response will contain an array of tariffs with the following fields:\n- CurrentEnergyPurchaseTariff1 - current energy purchase tariff 1\n- CurrentEnergyDeliveryTariff1 - current energy delivery tariff 1\n- CurrentEnergyPurchaseTariff2 - current energy purchase tariff 2\n- CurrentEnergyDeliveryTariff2 - current energy delivery tariff 2",
                "parameters": [
                    {
                        "type": "string",
                        "x-constraint": {
                            "length": 24
                        },
                        "x-format": {
                            "hex": {
                                "byteAligned": false,
                                "prefix": false
                            }
                        },
                        "x-alternatives": [
                            {
                                "type": "string",
                                "x-constraint": {
                                    "length": 24
                                },
                                "x-format": {
                                    "hex": {
                                        "byteAligned": false,
                                        "prefix": false
                                    }
                                }
                            },
                            {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string"
                                    },
                                    "_bsontype": {
                                        "type": "string",
                                        "enum": [
                                            "ObjectId"
                                        ]
                                    }
                                }
                            }
                        ],
                        "name": "sensorId",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "format": "date-time",
                        "description": "any valid iso date like 2022-01-11T00:00:00.000Z",
                        "name": "from",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "format": "date-time",
                        "description": "any valid iso date like 2022-01-12T00:00:00.000Z",
                        "name": "to",
                        "in": "query",
                        "required": true
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Devices"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/SensorTariffArraySchema"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/v1/customers/{smId}": {
            "get": {
                "operationId": "getV1CustomersSmid",
                "description": "Get information about customer",
                "parameters": [
                    {
                        "type": "string",
                        "name": "smId",
                        "in": "path",
                        "required": true
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/CustomerResponseSchema"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/v1/subscriptions/{userId}": {
            "get": {
                "operationId": "getV1SubscriptionsUserid",
                "description": "Get user subscription",
                "parameters": [
                    {
                        "type": "string",
                        "description": "User ID",
                        "x-constraint": {
                            "length": 24
                        },
                        "x-format": {
                            "hex": {
                                "byteAligned": false,
                                "prefix": false
                            }
                        },
                        "name": "userId",
                        "in": "path",
                        "required": true
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/SubscriptionSchema"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/v1/supported/devices": {
            "get": {
                "operationId": "getV1SupportedDevices",
                "description": "Get a list of supported devices for the system.\n\nThe response will contain a list of compatible devices with their types, labels, hardware, and other properties.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Devices"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/SupportedDevicesArraySchema"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/v2/customers/{smId}": {
            "get": {
                "operationId": "getV2CustomersSmid",
                "description": "Get information about customer as CSV",
                "parameters": [
                    {
                        "type": "string",
                        "name": "smId",
                        "in": "path",
                        "required": true
                    }
                ],
                "consumes": [
                    "text/csv"
                ],
                "produces": [
                    "text/csv"
                ],
                "tags": [
                    "Users"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "type": "string",
                            "example": "user_id,first_name,last_name,email,zip,language,status,installation_finished,sm_id,gateway_id,registration_date,license,subscription_details,device_count,car_count,end_date,energy_assistant_enable,kWp,hardware_version,firmware_version,app_version,plant,payment_method,street,city,country,note,installer,oem,tariffType,provider"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/v1/chart/gateway/{smId}": {
            "get": {
                "operationId": "getV1ChartGatewaySmid",
                "description": "Get pie chart for gateway\n\nThe response will contain common data from gateway and detailed data for each device if \"sensorData\" object.",
                "parameters": [
                    {
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 24,
                        "name": "smId",
                        "in": "path",
                        "required": true
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users / Data"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/GatewayChartDataSchema"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/v1/consumption/gateway/{smId}": {
            "get": {
                "operationId": "getV1ConsumptionGatewaySmid",
                "description": "Sensor consumption statistics.\n\nThe response will contain the \"totalConsumption\" field as total consumed power per period of time and consumption will be grouped by days(included into this period).",
                "parameters": [
                    {
                        "type": "string",
                        "description": "smId of gateway",
                        "minLength": 3,
                        "maxLength": 24,
                        "name": "smId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "some period of time for export\nday | week | month",
                        "enum": [
                            "day",
                            "week",
                            "month"
                        ],
                        "name": "period",
                        "in": "query",
                        "required": true
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users / Data"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model3"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/v1/consumption/sensor/{sensorId}": {
            "get": {
                "operationId": "getV1ConsumptionSensorSensorid",
                "description": "Consumption statistics for device\n\nThe response will contain the ’totalConsumption’ field as total consumed power per period of time and consumption grouped by days(included into this period).",
                "parameters": [
                    {
                        "type": "string",
                        "x-constraint": {
                            "length": 24
                        },
                        "x-format": {
                            "hex": {
                                "byteAligned": false,
                                "prefix": false
                            }
                        },
                        "x-alternatives": [
                            {
                                "type": "string",
                                "x-constraint": {
                                    "length": 24
                                },
                                "x-format": {
                                    "hex": {
                                        "byteAligned": false,
                                        "prefix": false
                                    }
                                }
                            },
                            {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string"
                                    },
                                    "_bsontype": {
                                        "type": "string",
                                        "enum": [
                                            "ObjectId"
                                        ]
                                    }
                                }
                            }
                        ],
                        "name": "sensorId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "some period of time for export\n day\n  week\n  month",
                        "minLength": 1,
                        "maxLength": 10,
                        "name": "period",
                        "in": "query",
                        "required": true
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Devices"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/ConsumptionStatisticsSensorSchema"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/v1/data/gateway/{gatewayId}": {
            "get": {
                "operationId": "getV1DataGatewayGatewayid",
                "description": "The response contains the timestamp of the last gateway update and the gateway data for that date.\n\nDeprecated as of 2025-06. Will be removed in 2026-06. Replaced with /v3/users/{smId}/data/stream",
                "parameters": [
                    {
                        "type": "string",
                        "x-constraint": {
                            "length": 24
                        },
                        "x-format": {
                            "hex": {
                                "byteAligned": false,
                                "prefix": false
                            }
                        },
                        "x-alternatives": [
                            {
                                "type": "string",
                                "x-constraint": {
                                    "length": 24
                                },
                                "x-format": {
                                    "hex": {
                                        "byteAligned": false,
                                        "prefix": false
                                    }
                                }
                            },
                            {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string"
                                    },
                                    "_bsontype": {
                                        "type": "string",
                                        "enum": [
                                            "ObjectId"
                                        ]
                                    }
                                }
                            }
                        ],
                        "name": "gatewayId",
                        "in": "path",
                        "required": true
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users / Data"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/LastDataFromGatewaySchema"
                        },
                        "description": "Successful"
                    }
                },
                "deprecated": true
            }
        },
        "/v1/data/zev/{smId}": {
            "get": {
                "operationId": "getV1DataZevSmid",
                "description": "Get all energy values.\n\nThe response returns sensors list with tariff and date values",
                "parameters": [
                    {
                        "type": "string",
                        "description": "smId of the gateway",
                        "minLength": 3,
                        "maxLength": 24,
                        "name": "smId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "format": "date-time",
                        "description": "any valid iso date like 2022-01-11T00:00:00.000Z",
                        "name": "from",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "format": "date-time",
                        "description": "any valid iso date like 2022-01-12T00:00:00.000Z",
                        "name": "to",
                        "in": "query",
                        "required": true
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users / Data"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model7"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/v1/forecast/gateways/{smId}": {
            "get": {
                "operationId": "getV1ForecastGatewaysSmid",
                "description": "Get production forecast for the gateway\n\nThe response contains a production forecast for the device for the next 3 days.\n\nDeprecated as of 2025-07. Will be removed in 2026-07. Replaced with /v3/users/{smId}/data/forecast",
                "parameters": [
                    {
                        "type": "string",
                        "description": "id of the device",
                        "minLength": 3,
                        "maxLength": 24,
                        "name": "smId",
                        "in": "path",
                        "required": true
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users / Data"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/ForecastForGatewayResponseSchema"
                        },
                        "description": "Successful"
                    }
                },
                "deprecated": true
            }
        },
        "/v1/info/gateway/{smId}": {
            "get": {
                "operationId": "getV1InfoGatewaySmid",
                "description": "This API will be used for getting detailed information about the gateway by sm_id(Solar Manager ID). Note: If request is emitted by user with role \"end user\", smId is not required and will be taken from user gateway_id. (Currently Swagger doesn't support this feature, so you need to add smId manually to the request).",
                "parameters": [
                    {
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 24,
                        "name": "smId",
                        "in": "path"
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/GatewayDetailedResponseSchema"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/v1/info/sensor/{sensorId}": {
            "get": {
                "operationId": "getV1InfoSensorSensorid",
                "description": "Get single sensor\n\nThe response will contain general data about sensors(devices). Response type JSON.",
                "parameters": [
                    {
                        "type": "string",
                        "x-constraint": {
                            "length": 24
                        },
                        "x-format": {
                            "hex": {
                                "byteAligned": false,
                                "prefix": false
                            }
                        },
                        "x-alternatives": [
                            {
                                "type": "string",
                                "x-constraint": {
                                    "length": 24
                                },
                                "x-format": {
                                    "hex": {
                                        "byteAligned": false,
                                        "prefix": false
                                    }
                                }
                            },
                            {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string"
                                    },
                                    "_bsontype": {
                                        "type": "string",
                                        "enum": [
                                            "ObjectId"
                                        ]
                                    }
                                }
                            }
                        ],
                        "name": "sensorId",
                        "in": "path",
                        "required": true
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Devices"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/SingleSensorResponseSchema"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/v1/info/sensors/{smId}": {
            "get": {
                "operationId": "getV1InfoSensorsSmid",
                "description": "Get information about user sensors (devices) such as water heaters, smart plugs etc.",
                "parameters": [
                    {
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 24,
                        "name": "smId",
                        "in": "path",
                        "required": true
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/SensorDataArraySchema"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/v1/info/user/{uId}": {
            "get": {
                "operationId": "getV1InfoUserUid",
                "description": "This API will be used for getting detailed information about the user by user id (uId)",
                "parameters": [
                    {
                        "type": "string",
                        "x-constraint": {
                            "length": 24
                        },
                        "x-format": {
                            "hex": {
                                "byteAligned": false,
                                "prefix": false
                            }
                        },
                        "x-alternatives": [
                            {
                                "type": "string",
                                "x-constraint": {
                                    "length": 24
                                },
                                "x-format": {
                                    "hex": {
                                        "byteAligned": false,
                                        "prefix": false
                                    }
                                }
                            },
                            {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string"
                                    },
                                    "_bsontype": {
                                        "type": "string",
                                        "enum": [
                                            "ObjectId"
                                        ]
                                    }
                                }
                            }
                        ],
                        "name": "uId",
                        "in": "path",
                        "required": true
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model21"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/v1/statistics/gateways/{smId}": {
            "get": {
                "operationId": "getV1StatisticsGatewaysSmid",
                "description": "Get statistics for gateway\n\nThe response will contain the total consumption, production, self-consumption, self-consumption rate and autarchy degree for the specified period of time.\n\nThe accuracy parameter is used to determine the level of detail in the statistics. The higher the accuracy, the more detailed the statistics will be.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "smId of gateway",
                        "minLength": 3,
                        "maxLength": 24,
                        "name": "smId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "low; // we recommend using this accuracy for huge ranges bigger than 1 month\nmedium; // we recommend using this accuracy for medium ranges, till 1 month\nhigh; // we recommend using this accuracy for small ranges, till 1 week",
                        "enum": [
                            "low",
                            "medium",
                            "high"
                        ],
                        "name": "accuracy",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "format": "date-time",
                        "description": "any valid iso date like 2022-01-11T00:00:00.000Z",
                        "name": "from",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "format": "date-time",
                        "description": "any valid iso date like 2022-01-12T00:00:00.000Z",
                        "name": "to",
                        "in": "query",
                        "required": true
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users / Data"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/StatisticsOfGatewayResponseSchema"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/v1/stream/gateway/{smId}": {
            "get": {
                "operationId": "getV1StreamGatewaySmid",
                "description": "The response contains general values of production, consumption, and battery and array with the latest values of temperature, battery, and power for each device. This will be raw data received from the gateway.\n\nDeprecated as of 2025-06. Will be removed in 2026-06. Replaced with /v3/users/{smId}/data/stream",
                "parameters": [
                    {
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 24,
                        "name": "smId",
                        "in": "path",
                        "required": true
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users / Data"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/GeneralValuesProductionConsumptionBatterySchema"
                        },
                        "description": "Successful"
                    }
                },
                "deprecated": true
            }
        },
        "/v1/tariff/gateways/{smId}": {
            "get": {
                "operationId": "getV1TariffGatewaysSmid",
                "description": "Get tariff\n\nINFO\n\nlowTariff = low tariff price\nhighTariff = high tariff price\n tariffType = type of the tariff can be single, double, dynamic\n singleTariff = single tariff price \n provider = provider for dynamic tariff\n isWinterTimeEnabled = if settings for winter season enable\n commonSeasons = settings for seasons\n winterSeason = settings for winter season \n directMarketing = energy export tariff identifier",
                "parameters": [
                    {
                        "type": "string",
                        "description": "smId of the gateway",
                        "minLength": 3,
                        "maxLength": 24,
                        "name": "smId",
                        "in": "path",
                        "required": true
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model30"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/v3/users/{smId}/tariffs": {
            "get": {
                "operationId": "getV3UsersSmidTariffs",
                "description": "This API will be used for getting detailed information about the user tariff settings by smId",
                "parameters": [
                    {
                        "type": "string",
                        "name": "smId",
                        "in": "path",
                        "required": true
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/TariffSettingsResponseArraySchema"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/v1/consumption/gateway/{smId}/range": {
            "get": {
                "operationId": "getV1ConsumptionGatewaySmidRange",
                "description": "Deprecated as of 2025-06. Will be removed in 2026-06. Replaced with /v3/users/{smId}/data/range",
                "parameters": [
                    {
                        "type": "string",
                        "description": "smId of gateway",
                        "minLength": 3,
                        "maxLength": 24,
                        "name": "smId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "format": "date-time",
                        "description": "date string in ISO format",
                        "name": "from",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "format": "date-time",
                        "description": "date string in ISO format",
                        "name": "to",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "number",
                        "description": "data point interval / for now possible to choose only 300 sec",
                        "enum": [
                            300
                        ],
                        "name": "interval",
                        "in": "query",
                        "required": true
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users / Data"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/GatewayIntervalConsumptionSchema"
                        },
                        "description": "Successful"
                    }
                },
                "deprecated": true
            }
        },
        "/v1/data/sensor/{sensorId}/range": {
            "get": {
                "operationId": "getV1DataSensorSensoridRange",
                "description": "The response returns sensor info by type and range\n\nDeprecated as of 2025-06. Will be removed in 2026-06. Replaced with /v3/devices/{deviceId}/data/range",
                "parameters": [
                    {
                        "type": "string",
                        "x-constraint": {
                            "length": 24
                        },
                        "x-format": {
                            "hex": {
                                "byteAligned": false,
                                "prefix": false
                            }
                        },
                        "x-alternatives": [
                            {
                                "type": "string",
                                "x-constraint": {
                                    "length": 24
                                },
                                "x-format": {
                                    "hex": {
                                        "byteAligned": false,
                                        "prefix": false
                                    }
                                }
                            },
                            {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string"
                                    },
                                    "_bsontype": {
                                        "type": "string",
                                        "enum": [
                                            "ObjectId"
                                        ]
                                    }
                                }
                            }
                        ],
                        "name": "sensorId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "format": "date-time",
                        "description": "date string in ISO format",
                        "name": "from",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "format": "date-time",
                        "description": "date string in ISO format",
                        "name": "to",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "number",
                        "description": "data point interval in seconds",
                        "enum": [
                            10,
                            300,
                            900
                        ],
                        "name": "interval",
                        "in": "query",
                        "required": true
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Devices"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model43",
                            "x-alternatives": [
                                {
                                    "$ref": "#/x-alt-definitions/Model21"
                                },
                                {
                                    "$ref": "#/x-alt-definitions/Model22"
                                },
                                {
                                    "$ref": "#/x-alt-definitions/Model23"
                                }
                            ]
                        },
                        "description": "Successful"
                    }
                },
                "deprecated": true
            }
        },
        "/v1/data/string/{stringId}/range": {
            "get": {
                "operationId": "getV1DataStringStringidRange",
                "description": "Get string data\n\nThe response returns string data by range",
                "parameters": [
                    {
                        "type": "string",
                        "x-constraint": {
                            "length": 24
                        },
                        "x-format": {
                            "hex": {
                                "byteAligned": false,
                                "prefix": false
                            }
                        },
                        "x-alternatives": [
                            {
                                "type": "string",
                                "x-constraint": {
                                    "length": 24
                                },
                                "x-format": {
                                    "hex": {
                                        "byteAligned": false,
                                        "prefix": false
                                    }
                                }
                            },
                            {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string"
                                    },
                                    "_bsontype": {
                                        "type": "string",
                                        "enum": [
                                            "ObjectId"
                                        ]
                                    }
                                }
                            }
                        ],
                        "name": "stringId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "format": "date-time",
                        "description": "date string in ISO format",
                        "name": "from",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "format": "date-time",
                        "description": "date string in ISO format",
                        "name": "to",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "number",
                        "description": "data point interval in seconds",
                        "enum": [
                            10,
                            300,
                            900
                        ],
                        "name": "interval",
                        "in": "query",
                        "required": true
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users / Data"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model44",
                            "x-alternatives": [
                                {
                                    "$ref": "#/x-alt-definitions/Model24"
                                }
                            ]
                        },
                        "description": "Successful"
                    }
                },
                "deprecated": true
            }
        },
        "/v1/stream/sensor/{smId}/{sensorId}": {
            "get": {
                "operationId": "getV1StreamSensorSmidSensorid",
                "description": "The response contains data of last sensor update and sensor\"s data for this date. In object \"data\" will be contained sensor\"s signal, power, water temperature or SOC and array of sensor\"s errors.\n\nDeprecated as of 2025-06. Will be removed in 2026-06. Replaced with /v3/users/{smId}/data/stream",
                "parameters": [
                    {
                        "type": "string",
                        "description": "smId of gateway",
                        "minLength": 3,
                        "maxLength": 24,
                        "name": "smId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "x-constraint": {
                            "length": 24
                        },
                        "x-format": {
                            "hex": {
                                "byteAligned": false,
                                "prefix": false
                            }
                        },
                        "x-alternatives": [
                            {
                                "type": "string",
                                "x-constraint": {
                                    "length": 24
                                },
                                "x-format": {
                                    "hex": {
                                        "byteAligned": false,
                                        "prefix": false
                                    }
                                }
                            },
                            {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string"
                                    },
                                    "_bsontype": {
                                        "type": "string",
                                        "enum": [
                                            "ObjectId"
                                        ]
                                    }
                                }
                            }
                        ],
                        "name": "sensorId",
                        "in": "path",
                        "required": true
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Devices"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/LastSensorResponseSchema"
                        },
                        "description": "Successful"
                    }
                },
                "deprecated": true
            }
        },
        "/v1/tariff/gateways/{smId}/dynamic": {
            "get": {
                "operationId": "getV1TariffGatewaysSmidDynamic",
                "description": "Get dynamic tariffs for gateway\n\nThe response contains the dynamic tariff data for the specified gateway.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "smId of gateway",
                        "minLength": 3,
                        "maxLength": 24,
                        "name": "smId",
                        "in": "path",
                        "required": true
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/DynamicTariffsSchema"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/v3/devices/{deviceId}/data/range": {
            "get": {
                "operationId": "getV3DevicesDeviceidDataRange",
                "description": "Device data\n\nReplaces /v1/data/sensor/{sensorId}/range",
                "parameters": [
                    {
                        "type": "string",
                        "x-constraint": {
                            "length": 24
                        },
                        "x-format": {
                            "hex": {
                                "byteAligned": false,
                                "prefix": false
                            }
                        },
                        "x-alternatives": [
                            {
                                "type": "string",
                                "x-constraint": {
                                    "length": 24
                                },
                                "x-format": {
                                    "hex": {
                                        "byteAligned": false,
                                        "prefix": false
                                    }
                                }
                            },
                            {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string"
                                    },
                                    "_bsontype": {
                                        "type": "string",
                                        "enum": [
                                            "ObjectId"
                                        ]
                                    }
                                }
                            }
                        ],
                        "name": "deviceId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "format": "date-time",
                        "description": "date string in ISO format",
                        "name": "from",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "format": "date-time",
                        "description": "date string in ISO format",
                        "name": "to",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "number",
                        "description": "data point interval in seconds",
                        "enum": [
                            10,
                            300,
                            900
                        ],
                        "name": "interval",
                        "in": "query",
                        "required": true
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Devices"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/DataDeviceV3Schema"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/v3/users/{smId}/data/range": {
            "get": {
                "operationId": "getV3UsersSmidDataRange",
                "description": "Main statistics data\n\nReplaces /v1/consumption/gateway/{smId}/range",
                "parameters": [
                    {
                        "type": "string",
                        "description": "smId of gateway",
                        "minLength": 3,
                        "maxLength": 24,
                        "name": "smId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "format": "date-time",
                        "description": "date string in ISO format",
                        "name": "from",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "format": "date-time",
                        "description": "date string in ISO format",
                        "name": "to",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "number",
                        "description": "data point interval in seconds",
                        "enum": [
                            300,
                            900,
                            3600
                        ],
                        "name": "interval",
                        "in": "query",
                        "required": true
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users / Data"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/DataMainV3Schema"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/v3/users/{smId}/data/stream": {
            "get": {
                "operationId": "getV3UsersSmidDataStream",
                "description": "The response contain general values of production (pW, pWh), consumption (cW, cWh), and battery (soc, bcW, bcWh, bdW, bdWh) and array with the latest values of power, temperature, battery soc for each device. This will be raw data received from the gateway.",
                "parameters": [
                    {
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 24,
                        "name": "smId",
                        "in": "path",
                        "required": true
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users / Data"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/DataStreamV3Schema"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/v3/users/{smId}/data/forecast": {
            "get": {
                "operationId": "getV3UsersSmidDataForecast",
                "description": "Get production forecast for the gateway\n\nThe response contains a production forecast for the device for the next 3 days.\n\nReplaces /v1/forecast/gateways/{smId}",
                "parameters": [
                    {
                        "type": "string",
                        "description": "id of the device",
                        "minLength": 3,
                        "maxLength": 24,
                        "name": "smId",
                        "in": "path",
                        "required": true
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users / Data"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/ForecastForGatewayResponseSchemaV3"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/v1/oauth/login": {
            "post": {
                "operationId": "postV1OauthLogin",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/Model54"
                        }
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Auth"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model56"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/v1/oauth/refresh": {
            "post": {
                "operationId": "postV1OauthRefresh",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/Model57"
                        }
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Auth"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Model59"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/v1/configure/sensor-priority/{sensorId}": {
            "put": {
                "operationId": "putV1ConfigureSensorprioritySensorid",
                "description": "Update single sensor\n\nThis end-point can change the device's priority in the system. This priority is used internally for better energy consumption optimization.",
                "parameters": [
                    {
                        "type": "string",
                        "x-constraint": {
                            "length": 24
                        },
                        "x-format": {
                            "hex": {
                                "byteAligned": false,
                                "prefix": false
                            }
                        },
                        "x-alternatives": [
                            {
                                "type": "string",
                                "x-constraint": {
                                    "length": 24
                                },
                                "x-format": {
                                    "hex": {
                                        "byteAligned": false,
                                        "prefix": false
                                    }
                                }
                            },
                            {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string"
                                    },
                                    "_bsontype": {
                                        "type": "string",
                                        "enum": [
                                            "ObjectId"
                                        ]
                                    }
                                }
                            }
                        ],
                        "name": "sensorId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/Model60"
                        }
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Devices"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/v1/control/battery/{sensorId}": {
            "put": {
                "operationId": "putV1ControlBatterySensorid",
                "description": "DEPRECATED Set battery mode\n\nINFO\n\n batteryChargingMode:\n 0 = Passive\n 1 = Active\n 2 = Charge\n 3 = Discharge\n 4 = OFF",
                "parameters": [
                    {
                        "type": "string",
                        "x-constraint": {
                            "length": 24
                        },
                        "x-format": {
                            "hex": {
                                "byteAligned": false,
                                "prefix": false
                            }
                        },
                        "x-alternatives": [
                            {
                                "type": "string",
                                "x-constraint": {
                                    "length": 24
                                },
                                "x-format": {
                                    "hex": {
                                        "byteAligned": false,
                                        "prefix": false
                                    }
                                }
                            },
                            {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string"
                                    },
                                    "_bsontype": {
                                        "type": "string",
                                        "enum": [
                                            "ObjectId"
                                        ]
                                    }
                                }
                            }
                        ],
                        "name": "sensorId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/BatteryChargingModeAndSettingsSchema"
                        }
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Devices"
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                },
                "deprecated": true
            }
        },
        "/v1/control/car-charger/{sensorId}": {
            "put": {
                "operationId": "putV1ControlCarchargerSensorid",
                "description": "Set car charger mode\n\nINFO\n\nchargingMode:\n 0 = Fast Charge\n  1 = Only solar\n 2 = Solar & tariff optimized\n 3 = Do not charge\n 4 = Constant current\n 5 = Minimal & Solar\n 6 = Minimum charge quantity\n 7 = Charging Target(%)",
                "parameters": [
                    {
                        "type": "string",
                        "x-constraint": {
                            "length": 24
                        },
                        "x-format": {
                            "hex": {
                                "byteAligned": false,
                                "prefix": false
                            }
                        },
                        "x-alternatives": [
                            {
                                "type": "string",
                                "x-constraint": {
                                    "length": 24
                                },
                                "x-format": {
                                    "hex": {
                                        "byteAligned": false,
                                        "prefix": false
                                    }
                                }
                            },
                            {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string"
                                    },
                                    "_bsontype": {
                                        "type": "string",
                                        "enum": [
                                            "ObjectId"
                                        ]
                                    }
                                }
                            }
                        ],
                        "name": "sensorId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/CarChargerPayloadSchema"
                        }
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Devices"
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/v1/control/heat-pump/{sensorId}": {
            "put": {
                "operationId": "putV1ControlHeatpumpSensorid",
                "description": "Set heatpump mode\n\nINFO\n\nheatPumpChargingMode:\n 0 = noMode\n 1 = ON\n 2 = OFF\n 3 = Only solar\n 4 = Solar & tariff optimized\n 5 = noControl\n 6 = Normal operation\n 7 = OEM 14",
                "parameters": [
                    {
                        "type": "string",
                        "x-constraint": {
                            "length": 24
                        },
                        "x-format": {
                            "hex": {
                                "byteAligned": false,
                                "prefix": false
                            }
                        },
                        "x-alternatives": [
                            {
                                "type": "string",
                                "x-constraint": {
                                    "length": 24
                                },
                                "x-format": {
                                    "hex": {
                                        "byteAligned": false,
                                        "prefix": false
                                    }
                                }
                            },
                            {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string"
                                    },
                                    "_bsontype": {
                                        "type": "string",
                                        "enum": [
                                            "ObjectId"
                                        ]
                                    }
                                }
                            }
                        ],
                        "name": "sensorId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/ChargingModeSchema"
                        }
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Devices"
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/v1/control/inverter/{sensorId}": {
            "put": {
                "operationId": "putV1ControlInverterSensorid",
                "description": "Set inverter mode\n\nINFO\n\n activePowerLimit: \n from 0 to 100",
                "parameters": [
                    {
                        "type": "string",
                        "x-constraint": {
                            "length": 24
                        },
                        "x-format": {
                            "hex": {
                                "byteAligned": false,
                                "prefix": false
                            }
                        },
                        "x-alternatives": [
                            {
                                "type": "string",
                                "x-constraint": {
                                    "length": 24
                                },
                                "x-format": {
                                    "hex": {
                                        "byteAligned": false,
                                        "prefix": false
                                    }
                                }
                            },
                            {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string"
                                    },
                                    "_bsontype": {
                                        "type": "string",
                                        "enum": [
                                            "ObjectId"
                                        ]
                                    }
                                }
                            }
                        ],
                        "name": "sensorId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/InverterSettingsSchema"
                        }
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Devices"
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/v1/control/smart-plug/{sensorId}": {
            "put": {
                "operationId": "putV1ControlSmartplugSensorid",
                "description": "Set smart plug mode\n\nINFO\n\nchargingMode:\n 1 = ON\n 2 = OFF\n 3 = Only Solar\n 4 = Solar & tariff optimized\n 5 = No control",
                "parameters": [
                    {
                        "type": "string",
                        "x-constraint": {
                            "length": 24
                        },
                        "x-format": {
                            "hex": {
                                "byteAligned": false,
                                "prefix": false
                            }
                        },
                        "x-alternatives": [
                            {
                                "type": "string",
                                "x-constraint": {
                                    "length": 24
                                },
                                "x-format": {
                                    "hex": {
                                        "byteAligned": false,
                                        "prefix": false
                                    }
                                }
                            },
                            {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string"
                                    },
                                    "_bsontype": {
                                        "type": "string",
                                        "enum": [
                                            "ObjectId"
                                        ]
                                    }
                                }
                            }
                        ],
                        "name": "sensorId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/SmartPlugChargingModeSchema"
                        }
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Devices"
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/v1/control/switch/{sensorId}": {
            "put": {
                "operationId": "putV1ControlSwitchSensorid",
                "description": "Set switch mode\n\nINFO\n\nchargingMode:\n 0 = noMode\n1 = ON\n 2 = OFF\n 3 = Only Solar\n 4 = Solar & tariff optimized\n 5 = No control",
                "parameters": [
                    {
                        "type": "string",
                        "x-constraint": {
                            "length": 24
                        },
                        "x-format": {
                            "hex": {
                                "byteAligned": false,
                                "prefix": false
                            }
                        },
                        "x-alternatives": [
                            {
                                "type": "string",
                                "x-constraint": {
                                    "length": 24
                                },
                                "x-format": {
                                    "hex": {
                                        "byteAligned": false,
                                        "prefix": false
                                    }
                                }
                            },
                            {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string"
                                    },
                                    "_bsontype": {
                                        "type": "string",
                                        "enum": [
                                            "ObjectId"
                                        ]
                                    }
                                }
                            }
                        ],
                        "name": "sensorId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/Model61"
                        }
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Devices"
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/v1/control/v2x/{sensorId}": {
            "put": {
                "operationId": "putV1ControlV2xSensorid",
                "description": "Set v2x car-charger mode\n\nINFO\n\nchargingMode:\n 0 = Fast Charge\n  1 = Only solar\n 2 = Solar & tariff optimized\n 3 = Do not charge\n 4 = Constant current\n 5 = Minimal & Solar\n 6 = Minimum charge quantity",
                "parameters": [
                    {
                        "type": "string",
                        "x-constraint": {
                            "length": 24
                        },
                        "x-format": {
                            "hex": {
                                "byteAligned": false,
                                "prefix": false
                            }
                        },
                        "x-alternatives": [
                            {
                                "type": "string",
                                "x-constraint": {
                                    "length": 24
                                },
                                "x-format": {
                                    "hex": {
                                        "byteAligned": false,
                                        "prefix": false
                                    }
                                }
                            },
                            {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string"
                                    },
                                    "_bsontype": {
                                        "type": "string",
                                        "enum": [
                                            "ObjectId"
                                        ]
                                    }
                                }
                            }
                        ],
                        "name": "sensorId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/V2XPayloadSchema"
                        }
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Devices"
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/v1/control/water-heater/{sensorId}": {
            "put": {
                "operationId": "putV1ControlWaterheaterSensorid",
                "description": "Set water heater mode\n\nINFO\n\nwaterHeaterMode:\n 1 = ON\n 2 = OFF\n 3 = Only solar\n 4 = Solar & tariff optimized\n 5 = noControl\n 6 = ECO",
                "parameters": [
                    {
                        "type": "string",
                        "x-constraint": {
                            "length": 24
                        },
                        "x-format": {
                            "hex": {
                                "byteAligned": false,
                                "prefix": false
                            }
                        },
                        "x-alternatives": [
                            {
                                "type": "string",
                                "x-constraint": {
                                    "length": 24
                                },
                                "x-format": {
                                    "hex": {
                                        "byteAligned": false,
                                        "prefix": false
                                    }
                                }
                            },
                            {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string"
                                    },
                                    "_bsontype": {
                                        "type": "string",
                                        "enum": [
                                            "ObjectId"
                                        ]
                                    }
                                }
                            }
                        ],
                        "name": "sensorId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/WaterHeaterPayloadSchema"
                        }
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Devices"
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/v2/control/battery/{sensorId}": {
            "put": {
                "operationId": "putV2ControlBatterySensorid",
                "description": "Set battery mode\n\nINFO\n\n batteryMode:\n 0 = Standard\n 1 = Eco\n 2 = peak-shaving\n 3 = manual\n 4 = tariff optimized\n 5 = Standard (Actively controlled batteries) \n\n batteryManualMode:\n 0 = Charge\n 1 = Discharge\n 2 = OFF",
                "parameters": [
                    {
                        "type": "string",
                        "x-constraint": {
                            "length": 24
                        },
                        "x-format": {
                            "hex": {
                                "byteAligned": false,
                                "prefix": false
                            }
                        },
                        "x-alternatives": [
                            {
                                "type": "string",
                                "x-constraint": {
                                    "length": 24
                                },
                                "x-format": {
                                    "hex": {
                                        "byteAligned": false,
                                        "prefix": false
                                    }
                                }
                            },
                            {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string"
                                    },
                                    "_bsontype": {
                                        "type": "string",
                                        "enum": [
                                            "ObjectId"
                                        ]
                                    }
                                }
                            }
                        ],
                        "name": "sensorId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/BatteryModeAndSettingsSchema"
                        }
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Devices"
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        }
    },
    "definitions": {
        "production": {
            "type": "object",
            "properties": {
                "today": {
                    "type": "number",
                    "example": 14045
                },
                "last7Days": {
                    "type": "number",
                    "example": 14033848
                },
                "thisMonth": {
                    "type": "number",
                    "example": 9403384
                },
                "thisYear": {
                    "type": "number",
                    "example": 292353147
                }
            }
        },
        "status": {
            "type": "object",
            "properties": {
                "installationOngoing": {
                    "type": "number",
                    "example": 6
                },
                "connected": {
                    "type": "number",
                    "example": 13
                },
                "notConnected": {
                    "type": "number",
                    "example": 0
                }
            }
        },
        "monitoring": {
            "type": "object",
            "properties": {
                "ok": {
                    "type": "number",
                    "example": 11
                },
                "notConnected": {
                    "type": "number",
                    "example": 0
                },
                "warning": {
                    "type": "number",
                    "example": 0
                },
                "error": {
                    "type": "number",
                    "example": 2
                }
            }
        },
        "autarchy": {
            "type": "object",
            "properties": {
                "last24hr": {
                    "type": "number",
                    "example": 87
                },
                "lastMonth": {
                    "type": "number",
                    "example": 87
                },
                "lastYear": {
                    "type": "number",
                    "example": 63
                },
                "overall": {
                    "type": "number",
                    "example": 63
                }
            }
        },
        "consumption": {
            "type": "object",
            "properties": {
                "lastMonth": {
                    "type": "number",
                    "example": 51
                },
                "lastYear": {
                    "type": "number",
                    "example": 54
                },
                "overall": {
                    "type": "number",
                    "example": 51
                }
            }
        },
        "carChargers": {
            "type": "object",
            "properties": {
                "total": {
                    "type": "number",
                    "example": 3
                },
                "today": {
                    "type": "number",
                    "example": 0
                },
                "last7Days": {
                    "type": "number",
                    "example": 172612
                }
            }
        },
        "waterHeaters": {
            "type": "object",
            "properties": {
                "total": {
                    "type": "number",
                    "example": 12
                },
                "today": {
                    "type": "number",
                    "example": 5087
                },
                "last7Days": {
                    "type": "number",
                    "example": 255853
                }
            }
        },
        "heatpumps": {
            "type": "object",
            "properties": {
                "total": {
                    "type": "number",
                    "example": 0
                },
                "today": {
                    "type": "number",
                    "example": 0
                },
                "last7Days": {
                    "type": "number",
                    "example": 0
                }
            }
        },
        "charged": {
            "type": "object",
            "properties": {
                "today": {
                    "type": "number",
                    "example": 0
                },
                "last7Days": {
                    "type": "number",
                    "example": 0
                }
            }
        },
        "discharged": {
            "type": "object",
            "properties": {
                "today": {
                    "type": "number",
                    "example": 0
                },
                "last7Days": {
                    "type": "number",
                    "example": 0
                }
            }
        },
        "v2xChargers": {
            "type": "object",
            "properties": {
                "total": {
                    "type": "number",
                    "example": 0
                },
                "charged": {
                    "$ref": "#/definitions/charged"
                },
                "discharged": {
                    "$ref": "#/definitions/discharged"
                }
            }
        },
        "totalEnergy": {
            "type": "object",
            "properties": {
                "carChargers": {
                    "$ref": "#/definitions/carChargers"
                },
                "waterHeaters": {
                    "$ref": "#/definitions/waterHeaters"
                },
                "heatpumps": {
                    "$ref": "#/definitions/heatpumps"
                },
                "v2xChargers": {
                    "$ref": "#/definitions/v2xChargers"
                }
            }
        },
        "OverviewSchema": {
            "type": "object",
            "properties": {
                "plants": {
                    "type": "number",
                    "example": 19
                },
[...]
